
.container{
    height: 2000px;
    width: 1300px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top: 0;
    cursor: pointer;
    background-color:white;
    
    
    
}

.background {
    background-color:white;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;

}
 
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.nav-list li {
    list-style: none;
    padding: 26px 30px;}


.nav-list li a {
    text-decoration: none;
    color:darkblue;
    font-weight: 800;
    
}

.nav-list li a:hover {
    color: grey;
}



.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid darkblue;
    border-radius: 9px;
    width: 200px;
margin-top: 79px;
color: darkblue;

}
.sbtn{border-radius: 9px;


}
h2{color: darkblue;}

.firstsection {

    height: 600px;
    width: 1260px;
    margin:5px;
     padding:5px;
}
#posterimg
{
    height: 550px;
    width: 1260px;
}
.joincommunity{
    height: 600px;
    width: 1300px;



}

.secondsection {
    height: 2600x;
    margin: 5px;
    width: 1260px;
    background-color: white;
}
h2{
    font-display:initial;
}
 #products{ 
  /* display:flex;    */
flex-wrap:wrap;
/* justify-content:space-around; */
/* align-items:center; */
flex-direction: column;
   
    } 
   
#robocar1kit{
    width: 350px;
    height: 250px;
    padding: 5px;
    border-left:1px solid grey ;
    border-right:1px solid grey  ;
    border-top:1px solid grey ;
    border-bottom:1px solid grey ;
    border-radius:9px;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto; 
     width: 50%;
}
    .pdname{
        text-align: center;
        font-weight: bold;
        font-size:large;
        
    }
   

#robocar{
        width: 350px;
        height: 250px;
        padding: 5px;
        border-left:1px solid grey ;
        border-right:1px solid grey  ;
        border-top:1px solid grey ;
        border-bottom:1px solid grey ;
        border-radius:9px;
        
       
    }
   
     #wheels{
        width: 350px;
        height: 250px;
        padding: 5px;
        border-left:1px solid grey ;
        border-right:1px solid grey  ;
        border-top:1px solid grey ;
        border-bottom:1px solid grey ;
        border-radius:9px;
     }
         #chassis{
            width: 350px;
            height: 250px;
            padding: 5px;
             border-left:1px solid grey ;
             border-right:1px solid grey  ;
             border-top:1px solid grey ;
             border-bottom:1px solid grey;
             border-radius:9px;
            }
            #microservomotor{
                width: 350px;
                height: 250px;
                padding: 5px;
                /* padding-bottom: 150px; */
                 border-left:1px solid grey ;
                 border-right:1px solid grey  ;
                 border-top:1px solid grey ;
                 border-bottom:1px solid grey ;
                 /* margin: 15px; */
                 border-radius:9px;
                }
                #motordriverl293d{
                    width: 350px;
                    height: 250px;
                  
                    padding: 5px;
                    /* padding-bottom: 150px; */
                     border-left:1px solid grey ;
                     border-right:1px solid grey  ;
                     border-top:1px solid grey ;
                     border-bottom:1px solid grey ;
                     /* margin: 15px; */
                     border-radius:9px;
                    }
                    #bomotor{
                        width: 350px;
                        height: 250px;
                      
                        padding: 5px;
                        /* padding-bottom: 150px; */
                         border-left:1px solid grey ;
                         border-right:1px solid grey  ;
                         border-top:1px solid grey ;
                         border-bottom:1px solid grey ;
                         /* margin: 15px; */
                         border-radius:9px;
                        }





 
#sign-up-2{
    display: flex;
    justify-content: center;
}

#Sign-up{
    border: 2px solid darkblue;
    width: 300px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

#but{
    display: flex;
    justify-content: center; 
}

#about-us {
    /* height: 1260px;
    margin: 5px;
    width: 800px; */
    
}

.text-footer {
 
    text-align:left;
    width:1260px;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: left;
    /* color:white;
    background-color:black; */
margin-right: 10%;}
